@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap";
@import-normalize;

body {
  margin: 0;
  background-color: #20232a;
}

#root {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;

  img {
    width: 400px;
    height: 400px;
  }

  .description {
    color: #61dafb;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 900;
  }
}
